<div class="global-container">
  <div class="card login-form">
    <div class="logo text-center">
      <mat-icon> mail_outline</mat-icon>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center">SignIn</h4>
      <div class="card-text">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="password"
            />
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" (click)="signin()">
              Sign In
            </button>
          </div>
          <div class="forgot-password">
            <a href="/forgot-password" style="text-decoration: none"
              ><span> Forgot Password ?</span>
            </a>
          </div>
          <div class="signup">
            <a href="/signup" style="text-decoration: black"
              >Don't have an account? <span>Sign Up</span></a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
