.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}
.login-form {
  width: 380px;
  height: 450px;
  margin: 20px;
  border-radius: 10px;
}
input[type="email"],
input[type="password"] {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
}
button {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
}
.card-title {
  font-weight: 900;
  padding-top: 20px;
}
.signup {
  text-align: center;
  padding-top: 10px;
}

span {
  color: blue;
  font-size: medium;
}
a {
  color: black;
}
.forgot-password {
  text-align: center;
}
.logo text-center {
  height: 200px;
  width: 200px;
}
