<div class="container-view">
  <div class="row">
    <div class="col">
      <div class="chart-1">
        <div class="card-" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">New Order</h5>
            <h6 class="card-subtitle mb-2 text-muted">+5%</h6>
            <h2>207</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="chart-2">
        <div class="card-" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">New Order</h5>
            <h6 class="card-subtitle mb-2 text-muted">+5%</h6>
            <h2>207</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="chart-3">
        <div class="card-" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">New Order</h5>
            <h6 class="card-subtitle mb-2 text-muted">+5%</h6>
            <h2>207</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
