<div class="container mt-5">
  <h2>Order List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Billing name</th>
        <th>Amount</th>
        <th>Order Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngfor="let user of Users">
        <td>{{ user.id }}</td>
        <td>{{ user.date }}</td>
        <td>{{ user.billingname }}</td>
        <td>{{ user.amount }}</td>
        <td>{{ user.orderstatus }}</td>
      </tr>
    </tbody>
  </table>
</div>
