<div class="global-container">
  <div class="card login-form">
    <div class="logo text-center">
      <label for="logo">logo</label>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center">Forgot Password</h4>
      <div class="card-text">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
            />
          </div>

          <div class="d-grid gap-2">
            <button
              class="btn btn-primary"
              type="submit"
              (click)="forgotPassword()"
            >
              submit
            </button>
          </div>
          <div class="signup">
            <a href="/signin" style="text-decoration: black"
              >Back to <span>Sign In</span></a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
